.header {
    &.boxActive {
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.27);
    }
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    height: 68px;
    background-color: #ffffff;

    .container {
        width: 100%;
        align-items: center;
        .titleMenu {
            z-index: 1; // eixo z 
            position: absolute;
            left: 76px;
            font-size: 18px;
            color: #3f3d56;
          }
        button {
            display: none; // ele faz o elemento realmente sumir da tela 
            justify-content: center;
            align-items: center;
            width: 46px;
            height: 46px;
            min-width: 46px;
            min-height: 46px;
            border-radius: 50px;
            transition: background 225ms cubic-bezier(0, 0, 0.2, 1);
            z-index: 1;
            outline: none;
            margin-left: -16px;
            &.active {
              background: #ffc700;
            }
          }

        .logo {
            transition: 225ms cubic-bezier(0, 0, 0.2, 1);
            margin-left: 16px;
            align-items: center;
            justify-content: center;
        }
    }
}

@media screen and (min-width: 719px) {
    .titleMenu {
        display: none;
    }
}

@media screen and (max-width: 720px) {
    .header {
        .container {
            button {
                display: flex;
            }
        }
        .logo {
            &.left-large {
                margin-left: 254px;
            }
        }
    }
}

