.header {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    height: 68px;
    background-color: #ffffff;

    .container {
        width: 100%;
        align-items: center;
        button {
            visibility: hidden;
            width: 46px;
            height: 46px;
            border-radius: 50px;
            transition: background 250ms ease-in-out;
            z-index: 1;
            outline: none;
            margin-left: -16px;
            &.active {
              background: #ffc700;
            }
          }

        .logo {
            &.left-large {
                margin-left: 264px;
            }
            transition: 250ms ease-in-out;
            margin-left: 16px;
            align-items: center;
            justify-content: center;
        }
    }
}

@media screen and (max-width: 720px) {
    .header {
        .container {
            button {
                visibility: visible;
            }
        }
    }
}

