// Variables
$primaryColor: #2196F3;
$selectionRadio: #63b9fd;

.input-content {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	.input-wrap {
		flex: 1;
		input, select {
			width: 100%;
			min-width: 400px;
		}
	}
}

// Inputs 
.input-wrap {
	padding: 16px;
	position: relative;
	display: flex;
    align-items: center;

    &.has-icon {
        .icon {
            color: #e91e63;
            position: absolute;
            left: 24px;
            top: 31px;
        }
        input, select {
            padding-left: 30px;
        }
        select + label, 
        input[type="text"] + label {
            left: 50px;
        }
    }
    
    &.active input[type="text"] + label, input[type="text"]:focus + label,
	&.active select + label, select:focus + label {
        top: 8px;
        left: 24px;
        padding: 2px 4px;
        background-color: #fff;
        font-size: 12px;
        font-weight: 500;
    }
    select, input {
		border: 2px solid $primaryColor;
        padding: 16px;
		border-radius: 7px;
		outline: none;
		&:focus {
			box-shadow: 1px 1px 4px rgba(33, 150, 243, 0.4);
        }
    }
    
    select + label,
    input[type="text"] + label {
        transition: 150ms ease;
        position: absolute;
        top: 32px;
        left: 36px;
        color: $primaryColor;
    }
}

// Radio
.input-wrap {
    .radio-item {
        margin: 16px;
        display: flex;
        align-items: center;
        position: relative;
        input[type="radio"], label {
            cursor: pointer;
        }
        input[type="radio"] {
            width: 18px;
            height: 18px;
            position: absolute;
            z-index: 1;
            &:checked ~ .ghost-radio {
                border: 1.5px solid $primaryColor;
                &::after {
                    width: 10px;
                    height: 10px;
                }
            }
            &:checked ~ label {
                font-weight: 500;
            }
            opacity: 0;
        }
    }

    .ghost-radio {
        position: relative;
        background: #f5f5f5;
        width: 16px;
        height: 16px;
        border-radius: 100px;
        border: 1px solid $primaryColor; // solid é a forma como a borda vai ser desenhada
        transition: 300ms cubic-bezier(0.88, 0.01, 0.05, 1.01);
        margin-right: 8px;
        &::after {
            content: '';
            position: absolute;
            width: 0;
            height: 0;
            transition: 300ms cubic-bezier(0.88, 0.01, 0.05, 1.01);
            background-color: $selectionRadio;
            border-radius: 100px;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }
    }
}

//pseudo-classes: usadas para estilizar um elemento com base em seu estado
//ex: &:checked 

// pseudo-elemento: palavra-chave adicionada a um seletor que permite definir o estilo de uma parte especifica
// do elemento selecionado, por exemplo: &::after (tudo que vem depois)