*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

html {
  font-size: 14px;
}

body {
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  padding: 8px 32px;
  max-width: 1600px;
  margin: 0 auto;
}

.flex { display: flex; }

.section-title {
  padding: 50px 20px;
  text-align: center;
  font-size: 30px;
}

section {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

section:not(.normal-height) {
  min-height: 100vh;
}

ul, li, a {
  text-decoration: none;
  list-style: none;
}
